.stock-counts {
    border: 4px dotted red;
}

.best-selling-tv {
    border: 4px dotted darkgoldenrod;
}

.tvs-sold {
    color: green;
}

.tvs-original-stock {
    color: blue;
}

.tvs-to-sell {
    color: red;
}